
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 26 32% 14%;
    --foreground: 0 0% 98%;

    --card: 26 32% 18%;
    --card-foreground: 0 0% 98%;

    --popover: 26 32% 18%;
    --popover-foreground: 0 0% 98%;

    --primary: 26 60% 85%;
    --primary-foreground: 26 32% 14%;

    --secondary: 26 32% 24%;
    --secondary-foreground: 0 0% 98%;

    --muted: 26 32% 24%;
    --muted-foreground: 26 15% 75%;

    --accent: 26 32% 24%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 26 32% 24%;
    --input: 26 32% 24%;
    --ring: 26 60% 85%;

    --radius: 0.5rem;

    --sidebar-background: 26 32% 10%;
    --sidebar-foreground: 26 15% 90%;
    --sidebar-primary: 26 60% 85%;
    --sidebar-primary-foreground: 26 32% 10%;
    --sidebar-accent: 26 32% 20%;
    --sidebar-accent-foreground: 26 15% 90%;
    --sidebar-border: 26 32% 20%;
    --sidebar-ring: 26 60% 85%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
